.App {
  text-align: center;


}

.App-header {
  background-color: rgb(0,0,0,0.8);
  height: 80px;
}




.links {
  text-align: center;

}

.sitemain {
  margin-right: 30px;
  float: left;
}

.terrence {
  font-family: 'Patua One', cursive;
    font-size: 40px;
}

.topright {
font-family: 'Patua One', cursive;
  font-size: 30px;
}

.links ul {
 text-align: right;
  padding-right: 20px;

}

.links li {

  display: inline-block;
  color: white;
  padding: 12px;
}



.links li:hover {
  color: #67d3e6;
  cursor: pointer;
}

@media (max-width: 880px) {
  .topright {
    display: none;
  }
  .terrence {
    font-size: 30px;
    
  }

}
