.App {
  text-align: center;


}

.App-header {

  border-bottom: 0px solid rgb(108, 190, 217);
  height: 80px;
}




.links {
  text-align: center;

}

.sitemain {
  margin-right: 30px;
  float: left;
}

.terrence {
  font-family: 'Patua One', cursive;
    font-size: 40px;
    color: white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    padding: 10px;
}

.terrence:hover {
  text-decoration: none;
  color: white;
}

.topright:hover {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid white;
}

.topright {
font-family: 'Patua One', cursive;
  font-size: 30px;
  color: white;


}

.links ul {
 text-align: right;
 margin-right: 15px;


}

.links li {

  display: inline-block;
  color: white;
  padding: 12px;
}

.navbar {
  margin-top: 11px;
}



.links li:hover {
  color: #67d3e6;
  cursor: pointer;
}



.bodyinfop {
  color: white;

}

@media (max-width: 880px) {
  .topright {
    display: none;
  }
  .terrence {
    font-size: 30px;

  }

}
